{% extends 'poll/base.html' %}

{% load static %}


{% block title %}
create
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static '/poll/create_poll.css' %}">
{% endblock%}
{% block scripts %}
    <script src="{% static '/poll/js/create.js' %}" defer></script> 
{% endblock scripts %}

{% block content %}
<form method="POST" enctype="multipart/form-data" class="cp-form">
    {% csrf_token %}
    
    <!-- {<div class="create-poll-container">

            <!-- <label for="Title"> Title of Your Poll</label> <br>
            <input type="text" required name="Title" placeholder="Eg. Best Places to Visit in India">
            <input type="text" required placeholder="Eg. Taj Mahal" class="options">
            <input type="text" required placeholder="Eg. Gateway of India" class="options">
            
            <a class="ui teal button" data-bs-toggle="collapse" id="first-one" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Text
            </a>
            <a class="ui teal button" data-bs-toggle="collapse" id="second-one" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
            Image
            </a>
            <div id="collapseExample">
                <div id="first-one-body">
                </div>
            </div>
            <div id="collapseExample1" >
                <div id="second-one-body">

                </div>
            </div>  
        <div class="form-group col-md-6 " >
            <label> Question </label>
            <input type="text" required class="form-control"  name="question" placeholder="enter question ">
        </div>
            
        <div class="form-group col-md-6">
            <h4 class="ui horizontal divider header">
                <i class="tag icon"></i>
                Choose
            </h4>
            <p>choose the type of poll you want to create</p>
            <a class="ui teal button" data-bs-toggle="collapse" id="first-one" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Text
            </a>
            <a class="ui teal button" data-bs-toggle="collapse" id="second-one" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
            Image
            </a>
            <div id="collapseExample">
                <div id="first-one-body">
                </div>
            </div>
    
            <div id="collapseExample1" >
                <div id="second-one-body">

                </div>
            </div>  
        </div>
       
        <div class="form-group col-md-6">
            <label >Add Timer</label>
            <input type="number" required class="form-control" name="timer" placeholder="enter time(minutes)">
        </div>
        <button class="btn btn-primary form-group col-md-6" >Submit</button>
        
    
    </div>}-->
    <h2 class="cp-h2">Create Your Awesome Poll</h2>
    <br>
    <div class="title-of-poll-div">
        <label for="title-of-poll">Poll Title</label><br>
        <input type="text" class="title-of-poll" name="title-of-poll" placeholder="Eg. Which is the most used OS?">
    </div>
    <p class="cp-text poll-options-text">Poll Options</p>
    <div class="cp-options-list">
        <div class="cp-options">
            <i class="fa-solid fa-xmark img-xmark"></i>
            <div class="cp-options-input-icons-wrapper">
                <input type="text" class="cp-option-text">
                <i class="fa-solid fa-images"></i>
            </div>
        </div>
        <div class="cp-options">
            <i class="fa-solid fa-xmark img-xmark"></i>
            <div class="cp-options-input-icons-wrapper">
                <input type="text" class="cp-option-text">
                <i class="fa-solid fa-images"></i>
            </div>
        </div>
        <div class="cp-options cp-option-extra">
            <i class="fa-solid fa-xmark img-xmark"></i>
            <div class="cp-options-input-icons-wrapper">
                <input type="text" class="cp-option-text">
                <i class="fa-solid fa-images"></i>
                <i class="fa-solid fa-xmark remove-option"></i> 
            </div>
        </div>
    </div>
    <button type="button" class="add-option-btn btn">Add Options <i class="fa-solid fa-plus"></i></button>
    <p class="cp-text timer-text">How long should the poll remain active?</p>
    <input type="text" placeholder="Eg. 20 [in minutes]" class="timer"><br>
    <button type="button" class="submit-btn btn">Create Poll</button>
</form>
{% endblock %}

