<!-- {% extends "poll/base.html" %}
{% load static %} -->
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GetPoll{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/poll/base.css' %}">
    {% block css %}
      
    {% endblock %}
    {% block scripts %}
    {% endblock scripts %}
</head>
<body> -->
{% block header %}
{% endblock %}
{% block content %}
    <div class="ui menu">
        <a class="item" href="{% url 'profile-info' %}">
          Profile Info
        </a>
        <a class="item" href="{% url 'account_set_password' %}">
          Change or Set Password
        </a>
        <a class="item" href="{% url 'account_email' %}">
          Add email 
        </a>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
<!-- </body>
</html -->






  
